.name{
  font-family: 'Nothing You Could Do', cursive;
}
h1{
    color:#4d0028;
}
p{
  font-family: 'Caveat', cursive;
    color: #4d0028;
}
body{
    background-color: #ffcce6;
}
h2{
    color:#cc0069;
}
img{
   border: 3px solid #ff0080;
}
.anime{
    color:#ff0066;
    font-family: 'Rye', cursive;
}
.hobby{
    font-family: 'Oleo Script', cursive;
    color:#ff0066;
}
.music{
    font-family: 'Fondamento', cursive;
    color:#ff0066;
}
body{
   background-image: url("https://media.giphy.com/media/uichN8cuNwHVS/giphy.gif");}